.how-it-works {
	text-align: center;
	font-family: $heading-font;
	color: $dark-grey-blue;

	.container {
		@include breakpoint-up('medium') {
			padding-top: 8.75rem;
			padding-bottom: 8.75rem;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&_title {
		color: $grey;
		margin-bottom: 5rem;
		font-size: 1.5rem;
		line-height: 2rem;

		@include breakpoint-up('medium') {
			text-align: left;
			margin-bottom: 7rem;
		}
	}

	&-wrapper {
		position: relative;
		@include breakpoint-up('medium') {
			display: flex;
			justify-content: space-between;

			&::before {
				content: '';
				position: absolute;
				border-bottom: 2px solid $pale-orange;
				width: 70%;
				top: -48px;
			}
		}
	}

	&_item {
		margin-bottom: 3.5rem;

		@include breakpoint-up('medium') {
			text-align: left;
			width: 30%;
		}

		h2 {
			font-size: 4.5rem;
			line-height: 4.5rem;
			color: $pale-orange;
			margin-bottom: 1.5rem;
			position: relative;

			@include breakpoint-up('medium') {
				margin-bottom: 2.625rem;

				&::before {
					content: '';
					position: absolute;
					background: $light-cream;
					border: 1px solid $dark-cyan;
					height: 1.875rem;
					width: 1.875rem;
					border-radius: 50%;
					top: -60px;
				}
			}
		}

		h3 {
			font-size: 1.75rem;
			line-height: 2rem;
			margin-bottom: 1.5rem;

			@include breakpoint-up('medium') {
				margin-bottom: 2.375rem;
			}
		}

		p {
			font-family: $body-font;
			font-size: 0.9375rem;
			line-height: 1.5625rem;
		}
	}

	.button {
		display: block;
		margin: 0 auto;
	}

	&.subscriber {
		background: $dark-grey-blue;
		border-radius: 0.625rem;
		margin-right: -1.5rem;
		margin-left: -1.5rem;
		margin-bottom: 6.25rem;

		@include breakpoint-up('medium') {
			margin-right: -2.4375rem;
			margin-left: -2.4375rem;
			margin-bottom: 9.375rem;
		}

		@include breakpoint-up('large') {
			margin-right: 0;
			margin-left: 0;
		}

		.container {
			padding: 5rem 1.5rem;

			@include breakpoint-up('medium') {
				padding: 10rem 2.375rem 5rem 2.375rem;
			}

			.how-it-works {
				&-wrapper {
				}

				&_item {
					h2 {
						&::before {
							background-color: $dark-grey-blue;
							border: 2px solid #0e8784;
						}
					}
				}
			}
		}
		h3,
		p {
			color: $light-cream;
		}
	}
}
