.our-commitment {
	margin-bottom: 12.5rem;
	.container {
		padding: 0;
	}
	&__wrapper {
		display: flex;
		flex-direction: column;

		img {
			width: 100%;
			border-radius: 0.625rem;
		}
	}

	&__text {
		text-align: center;
		font-family: $heading-font;
		color: $dark-grey-blue;

		h2 {
			font-size: 2rem;
			line-height: 3rem;
			margin-top: 2.5rem;
			margin-bottom: 1.875rem;
		}

		p {
			font-family: $body-font;
			font-size: 0.9375rem;
			line-height: 1.5625rem;
		}
	}
}
