.our-commitment {
	margin-bottom: 12.5rem;

	@include breakpoint-up('medium') {
		margin-bottom: 16.25rem;
	}
	.container {
		padding: 0;
	}
	&__wrapper {
		display: flex;
		flex-direction: column;

		@include breakpoint-up('medium') {
			flex-direction: row;
			justify-content: space-between;
		}

		img {
			width: 100%;
			border-radius: 0.625rem;

			@include breakpoint-up('medium') {
				width: 40%;
			}
		}
	}

	&__text {
		text-align: center;
		font-family: $heading-font;
		color: $dark-grey-blue;

		@include breakpoint-up('medium') {
			width: 50%;
			text-align: left;
		}

		h2 {
			font-size: 2rem;
			line-height: 3rem;
			margin-top: 2.5rem;
			margin-bottom: 1.875rem;
		}

		p {
			font-family: $body-font;
			font-size: 0.9375rem;
			line-height: 1.5625rem;
		}
	}
}
