.quality {
	margin-bottom: 6.25rem;
	&__wrapper {
		padding: 1.5rem 1.5rem 4rem 1.5rem;
		display: flex;
		flex-direction: column;
		background-color: $dark-grey-blue;
		color: $light-cream;
		border-radius: 10px;

		@include breakpoint-up('medium') {
			padding: 1.5rem 4rem 4rem 4rem;
		}

		img {
			margin-top: -6.25rem;
			margin-bottom: 3.125rem;

			@include breakpoint-up('medium') {
				border-radius: 0.625rem;
				margin-top: -9.375rem;
				margin-bottom: 4.125rem;
			}
		}
	}

	&__text {
		text-align: center;

		h2 {
			font-family: $heading-font;
			font-size: 1.75rem;
			line-height: 1.75rem;
			margin-bottom: 1.5rem;

			@include breakpoint-up('medium') {
				font-size: 2rem;
			}
		}

		p {
			font-family: $body-font;
			font-size: 0.9375rem;
			line-height: 1.5625rem;
			opacity: 0.8;
		}
	}
}
