.accordion {
	&__item {
		margin-bottom: 6.25rem;
	}

	&__text {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 2rem;

		h3 {
			font-family: $heading-font;
			color: #83888f;
			font-size: 1.5rem;
			line-height: 1.75rem;
		}
		img {
			transform: rotate(180deg);

			&.flip {
				transform: rotate(0);
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;

		&.hide {
			display: none;
		}
		&_item {
			display: flex;
			flex-direction: column;
			background: #f4f1eb;
			color: rgba(51, 61, 75, 1);
			padding: 1.5rem;
			border-radius: 10px;

			h3 {
				font-family: $heading-font;
				font-size: 1.5rem;
				line-height: 2rem;
				margin-bottom: 0.5rem;
			}

			p {
				font-family: $body-font;
				line-height: 1.625rem;
				font-size: 1rem;
			}

			&.invert {
				background-color: $dark-cyan;
				color: rgba(255, 255, 255, 1);
			}
		}
	}
}
