.subscribe {
	margin-bottom: 7.5rem;

	background-image: url('../assets/plan/mobile/image-hero-blackcup.jpg');
	margin-bottom: 7.5rem;

	@include breakpoint-up('medium') {
		background-image: url('../assets/plan/tablet/image-hero-blackcup.jpg');
	}

	@include breakpoint-up('large') {
		background-image: url('../assets/plan/desktop/image-hero-blackcup.jpg');
		margin-top: -15px;

		.container {
			padding: 120px 65px;

			p {
				width: 70%;
			}
		}
	}

	h1 {
		font-size: 2.5rem;

		@include breakpoint-up('large') {
			font-size: 4.25rem;
		}
	}
}
