.summary {
	margin-bottom: 100px;

	@include breakpoint-up('medium') {
		margin-bottom: 180px;
	}
	@include breakpoint-up('large') {
		margin-bottom: 150px;
	}
	&__box {
		background-color: $dark-grey-blue;
		border-radius: 10px;
		padding: 32px 24px;
		margin-bottom: 40px;

		@include breakpoint-up('medium') {
			padding: 1.9375rem 2.75rem;
		}
		@include breakpoint-up('large') {
			padding: 31px 64px;
		}

		p {
			text-transform: uppercase;
			font-family: $body-font;
			font-size: 1rem;
			color: rgba(255, 255, 255, 1);
			opacity: 0.5;
			margin-bottom: 8px;
		}

		h3 {
			color: $light-cream;
			font-family: $heading-font;
			font-size: 1.5rem;
			line-height: 2.5rem;

			span {
				color: $dark-cyan;
			}
		}
	}

	button {
		display: block;
		margin: 0 auto;

		@include breakpoint-up('medium') {
		}
		@include breakpoint-up('large') {
			float: right;
		}
	}
}
