footer {
	font-family: $body-font;
	background: $dark-grey-blue;
	text-align: center;

	.container {
		padding-top: 3.375rem;
		padding-bottom: 3.375rem;

		@include breakpoint-up('large') {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.logo {
			margin-bottom: 2.5rem;
			height: 1.375rem;

			@include breakpoint-up('medium') {
				height: 1.5rem;
			}
			@include breakpoint-up('large') {
				margin-bottom: 0;
			}
		}

		.footer-wrapper_nav {
			margin-bottom: 3.125rem;

			@include breakpoint-up('medium') {
				display: flex;
				justify-content: center;
				margin-bottom: 3.5625rem;
			}

			@include breakpoint-up('large') {
				margin-bottom: 0;
			}

			li {
				text-decoration: none;
				list-style: none;
				color: rgba(131, 136, 143, 1);
				margin-bottom: 1.5rem;
				font-size: 0.75rem;
				line-height: 0.9375rem;
				text-transform: uppercase;

				@include breakpoint-up('medium') {
					margin-left: 1.0625rem;
					margin-right: 1.0625rem;
					margin-bottom: 0;
				}
			}
		}

		.footer-wrapper_socials {
			display: flex;
			justify-content: center;
			img {
				margin-right: 0.75rem;
				margin-left: 0.75rem;
			}
		}
	}
}
