footer {
	font-family: $body-font;
	background: $dark-grey-blue;
	text-align: center;

	.container {
		padding-top: 3.375rem;
		padding-bottom: 3.375rem;

		.logo {
			margin-bottom: 2.5rem;
			height: 1.375rem;
		}

		.footer-wrapper_nav {
			margin-bottom: 3.125rem;
			li {
				text-decoration: none;
				list-style: none;
				color: $light-cream;
				margin-bottom: 1.5rem;
				font-size: 12px;
				line-height: 15px;
				text-transform: uppercase;
			}
		}

		.footer-wrapper_socials {
			display: flex;
			justify-content: center;
			img {
				margin-right: 0.75rem;
				margin-left: 0.75rem;
			}
		}
	}
}
