@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');

$dark-cyan: #0e8784;
$light-cream: #fefcf7;
$dark-grey-blue: #333d4b;
$grey: #83888f;
$pale-orange: #fdd6ba;

$heading-font: 'Fraunces', serif;
$body-font: 'Barlow', sans-serif;
