.why-choose-us {
	text-align: center;
	border-radius: 10px;
	color: $light-cream;
	font-family: $heading-font;
	padding: 0 1.5rem;
	border-radius: 0.625rem;

	.dark {
		margin-bottom: 4rem;
		background-color: $dark-grey-blue;
		height: 900px;
		margin-bottom: -36rem;
		margin-right: -1.5rem;
		margin-left: -1.5rem;
		padding: 4rem 24px 0;
		border-radius: 0.625rem;

		@include breakpoint-up('medium') {
			margin-bottom: -19rem;
		}
		@include breakpoint-up('medium') {
			height: 560px;
		}

		h3 {
			font-size: 1.75rem;
			line-height: 1.75rem;
			margin-bottom: 1.5rem;

			@include breakpoint-up('medium') {
				font-size: 32px;
				line-height: 48px;
			}
		}

		p {
			font-family: $body-font;
			font-size: 0.9375rem;
			line-height: 1.5625rem;
		}
	}

	.usp {
		&_item {
			background: $dark-cyan;
			margin-bottom: 1.5rem;
			border-radius: 0.5rem;
			padding: 4.5rem 2.125rem 3.1875rem;

			@include breakpoint-up('medium') {
				display: flex;
				justify-content: space-around;
				align-items: center;
				padding-bottom: 2.5rem;
				padding-top: 2.5rem;
			}

			img {
				margin-bottom: 3rem;
				@include breakpoint-up('medium') {
					width: 3.5rem;
					margin-bottom: 0;
				}
			}

			&-text {
				@include breakpoint-up('medium') {
					width: 55%;
					text-align: left;
				}
				h4 {
					font-size: 1.5rem;
					line-height: 2rem;
					margin-bottom: 1.5rem;
				}

				p {
					font-family: $body-font;
					font-size: 0.9375rem;
					line-height: 1.5625rem;
				}
			}
		}
	}
}
